.profile__add-button{
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background-image: url("../../../ui/add-button.svg");
    background-size: 20px;
}

@media screen and (max-width: 880px) {
    .profile__add-button{
        width: 17vw;
        height: 5.68vw;
    }
}

@media screen and (max-width: 600px) {
    .profile__add-button{
        width: 70px;
        height: 30px;
        background-size: 15px;
    }
}

@media screen and (max-width: 425px) {
    .profile__add-button{
        width: 100%;
        height: 50px;
    }
}