.profile__avatar-image{
    height: max-content;
    margin-right: 30px;
    border-radius: 50%;
}

@media screen and (max-width: 320px) {
    .profile__avatar-image{
        margin: 0;
        margin-top: 38.25px;
        margin-bottom: 26.25px;
    }
}