.profile__avatar-image{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    align-self: baseline;
}

@media screen and (max-width: 880px) {
    .profile__avatar-image{
        margin-right: 0;
    }
}

@media screen and (max-width: 425px) {
    .profile__avatar-image{
        margin: 38.25px 0 26.25px;
        align-self: auto;
    }
}