.profile__info{
    max-width: 415px;
    margin-right: 165px;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    column-gap: 18px;
}

@media screen and (max-width: 320px) {
    .profile__info{
        max-width: 100%;
        margin: 0;
        justify-content: center;
        column-gap: 10px;
    }
    
}