.footer{
    max-width: max-content;
    margin: 0 calc((100% - 880px) / 2);
}

@media screen and (max-width: 880px) {
    .footer{
        max-width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .footer{
        margin: 0 calc((100% - 282px) / 2);
    }   
}